@font-face {
  font-family: "Sync";
  src: url(../resources/fonts/Syne/static/Syne-Bold.ttf);
}

@font-face {
  font-family: "Poppins";
  src: url(../resources/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
  font-family: "Poppins Bold";
  src: url(../resources/fonts/Poppins/Poppins-Bold.ttf);
}

:root {
  --body-bg: #f5f7fa;
  --allCards-bg: #ffffff;
  --txt-white: #ffffff;
  --txt-clr: #333333;
  --info-1: #d6e4ff;
  --info-2: #d1fadf;
  --info-3: #fecaca;
  --primary-btn-bg: #000000;
  --popup-bdr: #00000063;
  --bdr-rds: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg);
  font-family: "Poppins", sans-serif;
  position: relative;
}

/* Navbar */

header {
  width: 100%;
  padding: 1rem 2rem;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  background-color: var(--allCards-bg);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: var(--bdr-rds);
}

.primary-btn {
  background-color: var(--primary-btn-bg);
  color: var(--txt-white);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: calc(var(--bdr-rds) / 1.4);
  cursor: pointer;
  font-weight: bold;
}

/* Hero Section */
.hero-section {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.top-hero h1 {
  font-size: 3rem;
  font-family: "Sync";
}

.top-hero p {
  font-size: 1.5rem;
  font-family: "Poppins";
}

.bottom-hero {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottom-hero h2 {
  font-size: 1.2rem;
  font-family: "Poppins Bold";
}

.hero-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.hero-card {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 23.6875rem;
  padding: 0.8rem 1.2rem;
  border-radius: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.info-1 {
  background: rgba(214, 228, 255, 0.5);
  color: #0074ff;
}

.info-2 {
  background: rgba(209, 250, 223, 0.5);
  color: #178068;
}

.info-3 {
  background: rgba(254, 202, 202, 0.3);
  color: #f00;
}

.hero-card h3 {
  font-family: "Poppins Bold";
  font-size: 1.1rem;
}

.hero-card p {
  font-family: "Poppins";
  font-size: 0.9rem;
}

/* Add Task */
.add-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 25rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: var(--bdr-rds);
  position: fixed;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, 0%);
  text-decoration: none;
  color: var(--txt-clr);
  font-family: "Poppins Bold";
  cursor: pointer;
  margin-bottom: 1rem;
}

.add-task:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -10%);
}

/* create task */

.create-task {
  background-color: var(--allCards-bg);
  width: 25rem;
  margin: 5rem auto;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  display: none; /* initially hidden */
  flex-direction: column;
  gap: 1rem;
}

.create-task h3 {
  font-family: "Poppins Bold";
  font-size: 1.2rem;
  color: var(--txt-clr);
}

.create-task input {
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 0.8rem;
  background-color: #f4f6f9;
  font-family: "Poppins";
  outline: none;
}

.create-task .primary-btn {
  width: 6rem;
  align-self: flex-end;
}

.task-cards {
  position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem;
}

.task-card {
  position: relative;
  width: 24rem;
  background-color: white;
  border-radius: var(--bdr-rds);
  padding: 1rem;
  display: flex;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-menu {
  position: absolute;
  top: 3.5rem;  
  right: 2.5rem;
  background-color: var(--allCards-bg);
  border-radius: var(--bdr-rds);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.10);
  display: none;
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  gap: 3rem;
}

.menu-item:nth-child(1) {
  border-bottom: 2px solid #d7d7d7;
}

.menu-item:hover {
  background-color: #f4f6f9;
}

.menu-text {
  font-family: "Poppins";
  font-size: 0.9rem;
  color: var(--txt-clr);
}

.icon {
  display: flex;
  align-items: center;
}

.icon img {
  width: 1.2rem;
  height: 1.2rem;
}

.card-content {
  display: flex;
  align-items: flex-start;
}

.card-text {
  margin-left: 10px;
}

.card-text h5 {
  font-size: 0.875rem;
  display: block;
  font-weight: 700;
  margin-bottom: 6px;
}

.card-description {
  font-family: "poppins";
  color: #333;
  font-size: 0.75rem;
  width: 70%;
}

.menu-icon {
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Mobile Responsive */
@media (max-width: 768px) {
  .navbar {
    gap: 1rem;
    padding: 1rem 1rem;
  }

  header {
    padding: 1.2rem 0.8rem;
  }

  .hero-section {
    padding: 1rem;
    gap: 1.5rem;
    margin-top: 1rem;
  }

  .top-hero h1 {
    font-size: 2rem;
  }

  .top-hero p {
    font-size: 1rem;
  }

  .bottom-hero h2 {
    font-size: 1.2rem;
  }

  .hero-cards {
    width: 100%;
    flex-direction: column;
    gap: 1rem;
  }

  .hero-card {
    width: 100%;
    padding: 1rem;
    gap: 0.5rem;
  }

  .add-task {
    width: 90%;
    left: 50%;
    bottom: 0rem;
    transform: translateX(-50%);
    padding: 0.8rem 1rem;
  }

  .add-task:hover {
    transform: translate(-50%, 50%);
  }

  .create-task {
    width: 100%;
    margin: 8rem auto;
    padding: 1.4rem 1rem;
    gap: 1rem;
  }

  .create-task h3 {
    font-size: 1rem;
  }

  .create-task input {
    padding: 0.7rem 1rem;
    font-size: 0.9rem;
  }

  .create-task .primary-btn {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
  }

  .create-task-wrapper {
    padding: 1.2rem 0.8rem;
  }

  .task-cards {
    margin: 1rem;
  }
}
